.card-list {
  padding: 40px 10px 30px 10px;
}

.card-list__wrap {
  display: grid;
  grid-template-columns: 300px;
  gap: 12px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .card-list {
    padding: 70px 30px 30px 30px;
  }

  .card-list__wrap {
    grid-template-columns: repeat(2, 339px);
    column-gap: 30px;
    row-gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .card-list {
    padding: 70px 70px 30px 70px;
  }

  .card-list__wrap {
    grid-template-columns: repeat(3, 364px);
    column-gap: 24px;
    row-gap: 27px;
  }
}
