.header {
  padding: 18px 13px 0 13px;
}

.header_place_home {
  background-color: #f3c1f8;
}

.header__wrap {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 18px 0;
}

.header__links-wrap {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 14px;
}

.header__link {
  text-decoration: none;
  color: #000000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
}

.header__link_type_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 26px;
  background: #000000;
  border-radius: 3px;
  color: #ffffff;
}

.header__burger {
  grid-area: burger;
  display: flex;
  flex-direction: column;
  width: 22px;
  row-gap: 7px;
}

.header__burger:hover {
  cursor: pointer;
}

.header__burger-item {
  height: 3px;
  width: 100%;
  background-color: #000000;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 18px 30px 18px 30px;
  }

  .header__links-wrap {
    gap: 30px;
  }

  .header__link {
    font-size: 12px;
  }

  .header__link_type_button {
    width: 76px;
    height: 32px;
  }

  .header__burger {
    width: 27px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 18px 70px 0 70px;
  }

  .header__burger {
    display: none;
  }
}
