.project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 18px;
}

.project__wrap {
  width: 100%;
  max-width: 1280px;
}

.project__title {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000000;
  padding: 0 0 28px 0;
}

.project__text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 60px 0;
}

.project__text-block {
  padding: 58px 0 0 0;
}

.project__subtitle {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
}

.project__text {
  padding: 16px 0 0 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}

.project__time-wrap {
}

.project__time-block {
  display: flex;
}

.project__time-strip {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  padding: 11px 0;
  flex-grow: 2;
}

.project__time-strip:last-of-type {
  background-color: #f2f2f2;
  color: #000000;
  flex-grow: 5;
}

.project__time-text {
  padding: 10px 0 0 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
  flex-grow: 2;
}

.project__time-text:last-of-type {
  flex-grow: 5;
}

@media screen and (min-width: 768px) {
  .project {
    padding: 90px 50px;
  }

  .project__title {
    font-size: 22px;
    line-height: 27px;
    padding: 0 0 20px 0;
  }

  .project__text-wrap {
    display: flex;
    flex-direction: row;
    padding: 0 0 93px 0;
    column-gap: 30px;
  }

  .project__text-block {
    max-width: 319px;
    padding: 70px 0 0 0;
  }

  .project__subtitle {
    font-size: 20px;
    line-height: 24px;
  }

  .project__text {
    font-size: 12px;
    line-height: 18px;
    padding: 22px 0 0 0;
  }

  .project__time-strip {
    font-size: 14px;
    line-height: 17px;
    padding: 9px 0;
    flex-grow: 1;
  }

  .project__time-strip:last-of-type {
    flex-grow: 6;
  }

  .project__time-text {
    padding: 14px 0 0 0;
    font-size: 14px;
    line-height: 17px;
    flex-grow: 1;
  }

  .project__time-text:last-of-type {
    flex-grow: 6;
  }
}

@media screen and (min-width: 1280px) {
  .project {
    padding: 110px 70px;
  }

  .project__title {
    font-size: 22px;
    line-height: 27px;
    padding: 0 0 23px 0;
  }

  .project__text-wrap {
    display: flex;
    flex-direction: row;
    padding: 0 0 110px 0;
    column-gap: 40px;
  }

  .project__text-block {
    max-width: 550px;
    padding: 70px 0 0 0;
  }

  .project__subtitle {
    font-size: 20px;
    line-height: 24px;
  }

  .project__text {
    font-size: 14px;
    line-height: 20px;
    padding: 26px 0 0 0;
  }

  .project__time-strip:last-of-type {
    flex-grow: 5;
  }

  .project__time-text:last-of-type {
    flex-grow: 5;
  }
}
