.add__wrap {
  padding: 45px 40px 80px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add__button {
  padding: 11px 20px 9px 20px;
  width: 240px;
  height: 36px;
  border: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 6px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .add__button {
    width: 320px;
  }
}
